.downloads {
    position: relative;

    button {
        background: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
    }
    
}

.downloads__counter {
    width: 15px;
    height: 15px;
    background-color: rgb(207, 71, 71);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}